In [2]:
import bs4 as bs
import pickle
import requests

In [28]:
def save_sp500_tickers():
#     resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    resp = requests.get('http://en.wikipedia.org/wiki/S%26P_100')
    soup = bs.BeautifulSoup(resp.text, 'lxml')
    table = soup.find('table', {'class': 'wikitable sortable'})
    tickers = []
    for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text
        tickers.append(ticker)
        
    with open("sp500tickers.pickle","wb") as f:
        pickle.dump(tickers,f)
        
    return tickers

the_list = save_sp500_tickers()

In [29]:
the_list = [item[:-1] for item in the_list]
the_list

['AAPL',
 'ABBV',
 'ABT',
 'ACN',
 'ADBE',
 'AIG',
 'AMD',
 'AMGN',
 'AMT',
 'AMZN',
 'AVGO',
 'AXP',
 'BA',
 'BAC',
 'BK',
 'BKNG',
 'BLK',
 'BMY',
 'BRK.B',
 'C',
 'CAT',
 'CHTR',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CRM',
 'CSCO',
 'CVS',
 'CVX',
 'DHR',
 'DIS',
 'DOW',
 'DUK',
 'EMR',
 'EXC',
 'F',
 'FDX',
 'GD',
 'GE',
 'GILD',
 'GM',
 'GOOG',
 'GOOGL',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'KHC',
 'KO',
 'LIN',
 'LLY',
 'LMT',
 'LOW',
 'MA',
 'MCD',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MMM',
 'MO',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NFLX',
 'NKE',
 'NVDA',
 'ORCL',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTX',
 'SBUX',
 'SCHW',
 'SO',
 'SPG',
 'T',
 'TGT',
 'TMO',
 'TMUS',
 'TSLA',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB',
 'V',
 'VZ',
 'WBA',
 'WFC',
 'WMT',
 'XOM']

In [30]:
general_information = the_list[:]
general_information = [item.replace('.','-') for item in the_list]
general_information

['AAPL',
 'ABBV',
 'ABT',
 'ACN',
 'ADBE',
 'AIG',
 'AMD',
 'AMGN',
 'AMT',
 'AMZN',
 'AVGO',
 'AXP',
 'BA',
 'BAC',
 'BK',
 'BKNG',
 'BLK',
 'BMY',
 'BRK-B',
 'C',
 'CAT',
 'CHTR',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CRM',
 'CSCO',
 'CVS',
 'CVX',
 'DHR',
 'DIS',
 'DOW',
 'DUK',
 'EMR',
 'EXC',
 'F',
 'FDX',
 'GD',
 'GE',
 'GILD',
 'GM',
 'GOOG',
 'GOOGL',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'KHC',
 'KO',
 'LIN',
 'LLY',
 'LMT',
 'LOW',
 'MA',
 'MCD',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MMM',
 'MO',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NFLX',
 'NKE',
 'NVDA',
 'ORCL',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTX',
 'SBUX',
 'SCHW',
 'SO',
 'SPG',
 'T',
 'TGT',
 'TMO',
 'TMUS',
 'TSLA',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB',
 'V',
 'VZ',
 'WBA',
 'WFC',
 'WMT',
 'XOM']

In [3]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
sns.set_style('whitegrid')
from os import listdir
from os.path import isfile, join
from pandas_datareader import data
import yfinance as yf
from pandas_datareader import wb

import quandl
import pandas_datareader as pdr
import numpy as np

from datetime import date

import matplotlib.pyplot as plt
import matplotlib.ticker as mtick

import copy
from tqdm import tqdm

import math
# import pmdarima as pm
yf.pdr_override()

In [32]:
stock_name = 'AAPL'
start_date = "2015-01-01"
end_date = "2022-12-31"
to_pred_stock_df = data.get_data_yahoo(tickers=stock_name, start = start_date, end = end_date)

# to_pred_stock_df = to_pred_stock_df.drop(to_pred_stock_df[to_pred_stock_df.index<start_date].index)
to_pred_stock_df.reset_index(inplace=True)

for index, the_name in enumerate(general_information):
    stock_df = data.get_data_yahoo(tickers=the_name, start=start_date, end=end_date)
    stock_df.reset_index(inplace=True)
    print(the_name)
    print(stock_df.head())
    if index == 0:
        general_df = to_pred_stock_df[["Date", "Close"]]
        general_df = pd.merge(general_df, stock_df[["Date", "Close"]].rename(columns={"Close": str(the_name)+"_Close"}), on="Date")
    else:
        general_df = pd.merge(general_df, stock_df[["Date", "Close"]].rename(columns={"Close": str(the_name)+"_Close"}), on="Date")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
AAPL
        Date       Open       High        Low      Close  Adj Close     Volume
0 2014-12-31  28.205000  28.282499  27.552500  27.594999  24.801622  165613600
1 2015-01-02  27.847500  27.860001  26.837500  27.332500  24.565695  212818400
2 2015-01-05  27.072500  27.162500  26.352501  26.562500  23.873642  257142000
3 2015-01-06  26.635000  26.857500  26.157499  26.565001  23.875889  263188400
4 2015-01-07  26.799999  27.049999  26.674999  26.937500  24.210684  160423600
[*********************100%***********************]  1 of 1 completed
ABBV
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  66.720001  67.099998  65.349998  65.440002  46.219624  3917300
1 2015-01-02  65.440002  66.400002  65.440002  65.889999  46.537453  5086100
2 2015-01-05  65.500000  66.099998  63.880001  64.650002  45.661648  8007400
3 2015-01-06  65.620003  65.750000  63.700001  64.330002  45.435631  5483700
4 2015-01-07  64.570000  67.050003  64.480003  66.930000  47.271992  8283300
[*********************100%***********************]  1 of 1 completed
ABT
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  45.700001  46.049999  44.990002  45.020000  38.535164  3418600
1 2015-01-02  45.250000  45.450001  44.639999  44.900002  38.432457  3216600
2 2015-01-05  44.799999  45.400002  44.630001  44.910000  38.441006  5735900
3 2015-01-06  44.990002  45.110001  43.930000  44.400002  38.004478  6584300
4 2015-01-07  44.730000  44.939999  44.380001  44.759998  38.312614  4609500
[*********************100%***********************]  1 of 1 completed
ACN
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  90.180000  90.480003  89.290001  89.309998  77.832115  1754500
1 2015-01-02  89.669998  90.089996  88.430000  88.839996  77.422508  2021300
2 2015-01-05  88.040001  88.320000  87.180000  87.339996  76.115280  3000000
3 2015-01-06  87.500000  87.769997  86.010002  86.709999  75.566261  2867000
4 2015-01-07  87.160004  88.750000  87.160004  88.529999  77.152359  2865500
[*********************100%***********************]  1 of 1 completed
ADBE
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  73.400002  74.209999  72.650002  72.699997  72.699997  1359300
1 2015-01-02  72.699997  73.199997  71.889999  72.339996  72.339996  2349200
2 2015-01-05  72.209999  72.430000  71.570000  71.980003  71.980003  2403300
3 2015-01-06  71.949997  72.099998  69.879997  70.529999  70.529999  2895400
4 2015-01-07  70.769997  71.290001  70.419998  71.110001  71.110001  2378300
[*********************100%***********************]  1 of 1 completed
AIG
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  56.730000  56.750000  55.970001  56.009998  45.677521   5054100
1 2015-01-02  56.529999  56.599998  55.750000  56.110001  45.759075   6608300
2 2015-01-05  55.680000  55.869999  54.730000  55.000000  44.853844  10103500
3 2015-01-06  54.740002  54.869999  53.740002  54.220001  44.217735  15406400
4 2015-01-07  54.730000  54.730000  54.169998  54.480000  44.429771   8762000
[*********************100%***********************]  1 of 1 completed
AMD
        Date  Open  High   Low  Close  Adj Close    Volume
0 2014-12-31  2.64  2.70  2.64   2.67       2.67  11177900
1 2015-01-02  2.67  2.67  2.67   2.67       2.67         0
2 2015-01-05  2.67  2.70  2.64   2.66       2.66   8878200
3 2015-01-06  2.65  2.66  2.55   2.63       2.63  13912500
4 2015-01-07  2.63  2.65  2.54   2.58       2.58  12377600
[*********************100%***********************]  1 of 1 completed
AMGN
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  161.669998  163.279999  159.259995  159.289993  126.555283
1 2015-01-02  160.160004  162.589996  158.600006  159.889999  127.031982
2 2015-01-05  157.429993  159.600006  154.259995  157.990005  125.522446
3 2015-01-06  158.779999  158.880005  152.330002  152.899994  121.478432
4 2015-01-07  154.089996  158.580002  153.009995  158.240005  125.721062

    Volume
0  2691900
1  2605400
2  4080300
3  5075800
4  3502400
[*********************100%***********************]  1 of 1 completed
AMT
        Date        Open        High        Low      Close  Adj Close   Volume
0 2014-12-31  100.559998  101.000000  98.750000  98.849998  83.969368  1367800
1 2015-01-02   99.160004   99.910004  98.900002  99.669998  84.665962  1462700
2 2015-01-05   99.680000   99.680000  97.949997  98.230003  83.442726  2124700
3 2015-01-06   98.300003   98.919998  97.930000  97.970001  83.221870  2329500
4 2015-01-07   98.559998   99.339996  98.050003  99.000000  84.096817  1854900
[*********************100%***********************]  1 of 1 completed
AMZN
        Date     Open     High      Low    Close  Adj Close    Volume
0 2014-12-31  15.5775  15.6490  15.5005  15.5175    15.5175  40960000
1 2015-01-02  15.6290  15.7375  15.3480  15.4260    15.4260  55664000
2 2015-01-05  15.3505  15.4190  15.0425  15.1095    15.1095  55484000
3 2015-01-06  15.1120  15.1500  14.6190  14.7645    14.7645  70380000
4 2015-01-07  14.8750  15.0640  14.7665  14.9210    14.9210  52806000
[*********************100%***********************]  1 of 1 completed
AVGO
        Date        Open        High         Low       Close  Adj Close  \
0 2014-12-31  101.099998  103.029999  100.430000  100.589996  78.900864
1 2015-01-02  100.930000  102.209999   99.129997  100.089996  78.508682
2 2015-01-05  100.070000  100.820000   98.400002   98.489998  77.253647
3 2015-01-06   98.949997   99.080002   95.180000   96.250000  75.496643
4 2015-01-07   97.050003   99.389999   96.529999   98.849998  77.536049

    Volume
0  1512100
1  1350000
2  1559600
3  2219400
4  3090700
[*********************100%***********************]  1 of 1 completed
AXP
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  94.650002  94.750000  93.000000  93.040001  82.218994  2306200
1 2015-01-02  93.169998  93.940002  92.139999  93.019997  82.201317  2437500
2 2015-01-05  92.459999  92.779999  90.320000  90.559998  80.027390  3469600
3 2015-01-06  90.790001  90.900002  87.940002  88.629997  78.321877  4800300
4 2015-01-07  91.010002  91.010002  89.529999  90.300003  80.032440  5665200
[*********************100%***********************]  1 of 1 completed
BA
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  132.250000  132.300003  129.860001  129.979996  113.683456
1 2015-01-02  131.070007  131.839996  129.089996  129.949997  113.657234
2 2015-01-05  129.660004  129.919998  128.610001  129.050003  112.870064
3 2015-01-06  129.050003  129.619995  126.180000  127.529999  111.540627
4 2015-01-07  128.740005  129.970001  128.720001  129.509995  113.272362

    Volume
0  2712400
1  4294200
2  5024800
3  4992800
4  3573200
[*********************100%***********************]  1 of 1 completed
BAC
        Date       Open       High        Low      Close  Adj Close     Volume
0 2014-12-31  18.190001  18.209999  17.889999  17.889999  15.258884   57819600
1 2015-01-02  17.990000  18.030001  17.680000  17.900000  15.267412   48951100
2 2015-01-05  17.790001  17.809999  17.290001  17.379999  14.823891  105605500
3 2015-01-06  17.420000  17.440001  16.780001  16.860001  14.380372  144912400
4 2015-01-07  17.139999  17.180000  16.870001  16.940001  14.448605  104603800
[*********************100%***********************]  1 of 1 completed
BK
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  41.299999  41.299999  40.540001  40.570000  33.411640  2222600
1 2015-01-02  40.750000  40.779999  40.080002  40.459999  33.321041  3891100
2 2015-01-05  40.220001  40.369999  39.279999  39.419998  32.464542  4241900
3 2015-01-06  39.450001  39.470001  37.869999  38.279999  31.525694  7633100
4 2015-01-07  38.689999  39.099998  38.439999  39.070000  32.176300  7113900

[*********************100%***********************]  1 of 1 completed
BKNG
        Date         Open         High          Low        Close    Adj Close  \
0 2014-12-31  1150.930054  1154.000000  1140.209961  1140.209961  1140.209961
1 2015-01-02  1144.000000  1149.439941  1131.510010  1142.060059  1142.060059
2 2015-01-05  1138.369995  1138.369995  1090.739990  1097.579956  1097.579956
3 2015-01-06  1103.410034  1103.979980  1072.500000  1079.959961  1079.959961
4 2015-01-07  1090.770020  1092.069946  1058.569946  1069.569946  1069.569946

    Volume
0   482500
1   509300
2  1051300
3  1081500
4   955000
[*********************100%***********************]  1 of 1 completed
BLK
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  362.339996  362.959991  356.910004  357.559998  290.133148
1 2015-01-02  357.980011  359.890015  352.440002  356.730011  289.459625
2 2015-01-05  353.239990  354.269989  346.600006  347.500000  281.970245
3 2015-01-06  348.700012  351.630005  338.549988  342.100006  277.588501
4 2015-01-07  345.149994  349.980011  344.260010  349.339996  283.463257

   Volume
0  298800
1  367000
2  465900
3  626400
4  388300
[*********************100%***********************]  1 of 1 completed
BMY
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  59.299999  60.139999  58.959999  59.029999  46.975754  4352300
1 2015-01-02  59.430000  59.930000  59.299999  59.509998  47.357738  4887700
2 2015-01-05  59.360001  59.400002  58.040001  58.580002  46.617645  5928800
3 2015-01-06  58.869999  59.500000  58.110001  58.480000  46.538071  6039900
4 2015-01-07  59.150002  59.540001  58.820000  59.240002  47.142876  6278400
[*********************100%***********************]  1 of 1 completed
BRK-B
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  152.199997  152.669998  150.149994  150.149994  150.149994
1 2015-01-02  151.500000  151.600006  148.500000  149.169998  149.169998
2 2015-01-05  148.809998  149.000000  146.779999  147.000000  147.000000
3 2015-01-06  147.639999  148.529999  146.110001  146.839996  146.839996
4 2015-01-07  147.940002  149.139999  147.649994  148.880005  148.880005

    Volume
0  3324800
1  3436400
2  4168800
3  4116100
4  4159100
[*********************100%***********************]  1 of 1 completed
C
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  54.950001  55.070000  54.099998  54.110001  44.506599  10193000
1 2015-01-02  54.360001  54.689999  53.790001  54.259998  44.629963  11137800
2 2015-01-05  53.910000  53.959999  52.330002  52.549999  43.223461  20945400
3 2015-01-06  52.680000  52.770000  50.529999  50.700001  41.701805  31989300
4 2015-01-07  51.509998  51.549999  50.619999  51.169998  42.088383  27890800
[*********************100%***********************]  1 of 1 completed
CAT
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  92.889999  93.570000  91.449997  91.529999  72.336525   3251100
1 2015-01-02  91.769997  92.370003  90.660004  91.879997  72.613129   3767900
2 2015-01-05  90.349998  90.419998  86.599998  87.029999  68.780182  11301400
3 2015-01-06  87.279999  87.680000  85.169998  86.470001  68.337593   8660600
4 2015-01-07  87.370003  88.139999  86.419998  87.809998  69.396614   6511100
[*********************100%***********************]  1 of 1 completed
CHTR
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  168.729996  169.800003  166.360001  166.619995  166.619995
1 2015-01-02  167.229996  167.300003  164.529999  166.429993  166.429993
2 2015-01-05  166.080002  166.419998  159.720001  160.500000  160.500000
3 2015-01-06  160.899994  161.830002  155.850006  156.309998  156.309998
4 2015-01-07  157.220001  160.110001  155.500000  156.789993  156.789993

    Volume
0   346200
1   713100
2  1232600
3  1419200
4  1122700
[*********************100%***********************]  1 of 1 completed
CL
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  70.089996  70.410004  69.120003  69.190002  57.104103  2202300
1 2015-01-02  69.169998  69.260002  68.699997  69.040001  56.980312  2522800
2 2015-01-05  68.940002  69.430000  68.449997  68.529999  56.559376  2950700
3 2015-01-06  68.730003  68.870003  67.629997  67.809998  55.965149  3437400
4 2015-01-07  68.129997  68.440002  67.739998  68.349998  56.410820  2908000
[*********************100%***********************]  1 of 1 completed
CMCSA
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  29.405001  29.650000  28.915001  29.004999  24.580626  24685400
1 2015-01-02  29.000000  29.174999  28.420000  28.674999  24.300964  21170000
2 2015-01-05  28.424999  28.549999  27.830000  27.980000  23.805376  33001400
3 2015-01-06  27.940001  27.969999  27.430000  27.615000  23.494833  33973200
4 2015-01-07  27.735001  27.825001  27.385000  27.590000  23.473562  22123800
[*********************100%***********************]  1 of 1 completed
COF
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  83.830002  83.949997  82.529999  82.550003  70.873154  1523200
1 2015-01-02  82.790001  83.239998  81.730003  82.489998  70.821663  1483200
2 2015-01-05  81.570000  82.160004  80.199997  80.589996  69.190414  2678200
3 2015-01-06  80.730003  80.769997  78.860001  79.089996  67.902596  2929500
4 2015-01-07  80.160004  80.459999  79.709999  79.989998  68.675285  2434100
[*********************100%***********************]  1 of 1 completed
COP
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  69.339996  69.750000  68.699997  69.059998  52.794029   5923600
1 2015-01-02  68.500000  69.480003  68.230003  68.919998  52.686993   5701800
2 2015-01-05  67.709999  67.980003  65.430000  65.639999  50.179558  10938900
3 2015-01-06  65.290001  66.599998  62.880001  62.930000  48.107853  18054700
4 2015-01-07  64.010002  64.230003  62.849998  63.349998  48.428932  12350500
[*********************100%***********************]  1 of 1 completed
COST
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  143.490005  144.130005  141.690002  141.750000  118.830383
1 2015-01-02  141.869995  143.149994  140.809998  141.610001  118.713043
2 2015-01-05  141.690002  142.160004  139.800003  140.000000  117.363380
3 2015-01-06  140.610001  142.940002  139.850006  141.850006  118.914276
4 2015-01-07  142.600006  144.429993  142.360001  144.320007  120.984901

    Volume
0  1477900
1  1471000
2  1748500
3  3185200
4  2171600
[*********************100%***********************]  1 of 1 completed
CRM
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  59.389999  60.230000  59.220001  59.310001  59.310001  3232000
1 2015-01-02  59.900002  60.430000  58.509998  59.240002  59.240002  2796400
2 2015-01-05  58.599998  59.240002  57.840000  58.169998  58.169998  3688200
3 2015-01-06  58.180000  58.549999  56.549999  57.200001  57.200001  3174900
4 2015-01-07  57.790001  57.950001  56.599998  56.930000  56.930000  4284300
[*********************100%***********************]  1 of 1 completed
CSCO
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  28.280001  28.410000  27.809999  27.820000  21.475679  21478700
1 2015-01-02  27.860001  28.120001  27.379999  27.610001  21.460136  22926500
2 2015-01-05  27.320000  27.450001  27.000000  27.059999  21.032650  29460600
3 2015-01-06  27.139999  27.680000  27.040001  27.049999  21.024876  47297600
4 2015-01-07  27.139999  27.400000  26.980000  27.299999  21.219187  27570800
[*********************100%***********************]  1 of 1 completed
CVS
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  97.779999  97.870003  96.199997  96.309998  78.509079  3406100
1 2015-01-02  96.519997  96.870003  94.379997  95.099998  77.522705  5124200
2 2015-01-05  94.589996  94.889999  93.870003  94.160004  76.756462  5887900
3 2015-01-06  94.629997  95.300003  93.680000  94.230003  76.813538  5538700
4 2015-01-07  94.910004  95.980003  94.620003  95.930000  78.199318  5792700

[*********************100%***********************]  1 of 1 completed
CVX
        Date        Open        High         Low       Close  Adj Close  \
0 2014-12-31  111.650002  113.309998  111.529999  112.180000  78.661652
1 2015-01-02  111.629997  113.000000  110.849998  112.580002  78.942146
2 2015-01-05  110.959999  111.199997  107.440002  108.080002  75.786697
3 2015-01-06  107.870003  109.019997  106.480003  108.029999  75.751640
4 2015-01-07  109.250000  109.730003  107.510002  107.940002  75.688530

     Volume
0   6411800
1   5898800
2  11758100
3  11591600
4  10353800
[*********************100%***********************]  1 of 1 completed
DHR
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  65.625473  65.822594  64.958305  64.981049  62.350437  2734683
1 2015-01-02  65.208488  65.420776  64.526154  64.988625  62.357727  2722152
2 2015-01-05  64.662621  64.897652  64.025780  64.344200  61.739361  3985095
3 2015-01-06  64.541321  64.700531  63.366188  63.904472  61.317436  3807030
4 2015-01-07  64.495827  64.715691  64.116753  64.291130  61.688457  4361801
[*********************100%***********************]  1 of 1 completed
DIS
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  95.129997  95.519997  94.029999  94.190002  87.786354  4797000
1 2015-01-02  94.910004  95.279999  92.849998  93.750000  87.376251  5865400
2 2015-01-05  93.279999  93.349998  91.779999  92.379997  86.099396  7789400
3 2015-01-06  92.570000  93.190002  91.160004  91.889999  85.642700  6793100
4 2015-01-07  92.720001  93.150002  92.099998  92.830002  86.518806  6589500
[*********************100%***********************]  1 of 1 completed
DOW
        Date       Open       High        Low      Close  Adj Close   Volume
0 2019-03-20  52.750000  53.500000  49.500000  49.799999  40.302849  2350800
1 2019-03-21  49.990002  50.000000  48.200001  48.980000  39.639217  1764700
2 2019-03-22  48.799999  49.950001  48.160000  48.599998  39.331688   844700
3 2019-03-25  48.599998  49.400002  48.000000  49.150002  39.776810   440900
4 2019-03-26  49.000000  49.750000  48.180000  48.849998  39.534019   504700
[*********************100%***********************]  1 of 1 completed
DUK
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  84.820000  85.160004  83.500000  83.540001  59.116272  2802400
1 2015-01-02  83.540001  84.230003  83.089996  84.050003  59.477158  2266200
2 2015-01-05  83.599998  83.910004  82.610001  82.839996  58.620930  3780400
3 2015-01-06  82.919998  84.790001  82.919998  84.199997  59.583305  5290900
4 2015-01-07  84.260002  84.889999  83.720001  84.470001  59.774384  2583500
[*********************100%***********************]  1 of 1 completed
EMR
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  62.630001  62.840000  61.669998  61.730000  48.407387  2225100
1 2015-01-02  61.840000  62.250000  60.990002  61.790001  48.454430  3395500
2 2015-01-05  61.830002  62.160000  60.450001  60.520000  47.458530  7148400
3 2015-01-06  60.740002  60.860001  59.730000  60.419998  47.380112  5451800
4 2015-01-07  61.000000  61.020000  60.070000  60.290001  47.278168  5283500
[*********************100%***********************]  1 of 1 completed
EXC
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  27.196861  27.282454  26.398003  26.447931  19.833332   7831011
1 2015-01-02  26.447931  26.854494  26.447931  26.797432  20.095428   6972006
2 2015-01-05  26.604851  26.790300  25.827389  26.034237  19.523108  12329749
3 2015-01-06  26.119829  26.483595  25.798859  25.834522  19.373337  10649452
4 2015-01-07  25.920115  26.069901  25.734665  25.870186  19.400089  10545844
[*********************100%***********************]  1 of 1 completed
F
        Date   Open   High    Low  Close  Adj Close    Volume
0 2014-12-31  15.51  15.64  15.47  15.50  10.281095  17930200
1 2015-01-02  15.59  15.65  15.18  15.36  10.188232  24777900
2 2015-01-05  15.12  15.13  14.69  14.76   9.790258  44079700
3 2015-01-06  14.88  14.90  14.38  14.62   9.697393  32981600
4 2015-01-07  14.78  15.09  14.77  15.04   9.975977  26065300
[*********************100%***********************]  1 of 1 completed
FDX
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  175.699997  176.279999  173.509995  173.660004  156.857101
1 2015-01-02  173.779999  174.639999  170.330002  172.449997  155.764114
2 2015-01-05  171.820007  171.929993  169.350006  169.800003  153.370575
3 2015-01-06  172.419998  173.320007  169.580002  169.789993  153.361496
4 2015-01-07  171.970001  172.339996  170.050003  171.039993  154.490555

    Volume
0   854200
1  1249700
2  1726100
3  2612500
4  1835800
[*********************100%***********************]  1 of 1 completed
GD
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  139.199997  139.889999  137.509995  137.619995  114.783623
1 2015-01-02  138.470001  139.050003  137.160004  138.449997  115.475822
2 2015-01-05  137.960007  138.630005  135.380005  135.559998  113.065392
3 2015-01-06  135.779999  136.610001  134.179993  135.720001  113.198845
4 2015-01-07  135.789993  136.669998  134.970001  135.199997  112.765121

    Volume
0  1169400
1  1111700
2  1437100
3  2766800
4  2067200
[*********************100%***********************]  1 of 1 completed
GE
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  152.645172  153.245667  151.744431  151.744431  131.482361
1 2015-01-02  152.164780  152.885361  149.342468  150.483398  130.389664
2 2015-01-05  150.183151  150.183151  147.240738  147.721130  127.996300
3 2015-01-06  146.880447  147.540985  143.697830  144.538528  125.238594
4 2015-01-07  145.379211  146.460098  143.998077  144.598572  125.290627

     Volume
0   4697228
1   6814541
2   6999789
3  10617953
4   7267786
[*********************100%***********************]  1 of 1 completed
GILD
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  96.000000  96.750000  94.239998  94.260002  72.089096  13879000
1 2015-01-02  95.139999  96.650002  94.519997  94.910004  72.586235  12340200
2 2015-01-05  95.239998  98.730003  93.180000  96.790001  74.024048  27530400
3 2015-01-06  98.470001  99.339996  96.089996  97.650002  74.681763  22363800
4 2015-01-07  99.309998  99.900002  98.440002  99.480003  76.081322  16373700
[*********************100%***********************]  1 of 1 completed
GM
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  35.240002  35.450001  34.889999  34.910000  27.745398  12004200
1 2015-01-02  35.270000  35.310001  34.410000  34.840000  27.689756   9756700
2 2015-01-05  34.980000  35.250000  34.070000  34.330002  27.284426  16223000
3 2015-01-06  34.410000  35.220001  34.099998  34.849998  27.697704  17747600
4 2015-01-07  35.230000  35.950001  35.040001  35.840000  28.484526  19319200
[*********************100%***********************]  1 of 1 completed
GOOG
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  26.489773  26.557089  26.218018  26.247936  26.247936  27364925
1 2015-01-02  26.378078  26.490770  26.133251  26.168653  26.168653  28951268
2 2015-01-05  26.091366  26.144720  25.582764  25.623152  25.623152  41196796
3 2015-01-06  25.679497  25.738087  24.983908  25.029282  25.029282  57998800
4 2015-01-07  25.280592  25.292759  24.914099  24.986401  24.986401  41301082
[*********************100%***********************]  1 of 1 completed
GOOGL
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  26.886999  26.920000  26.510000  26.533001  26.533001  24648000
1 2015-01-02  26.629999  26.790001  26.393999  26.477501  26.477501  26480000
2 2015-01-05  26.357500  26.399500  25.887501  25.973000  25.973000  41182000
3 2015-01-06  26.025000  26.060499  25.277500  25.332001  25.332001  54456000
4 2015-01-07  25.547501  25.574499  25.182501  25.257500  25.257500  46918000

[*********************100%***********************]  1 of 1 completed
GS
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  196.649994  196.830002  193.770004  193.830002  166.912003
1 2015-01-02  195.300003  195.729996  192.699997  194.410004  167.411438
2 2015-01-05  193.059998  194.039993  187.479996  188.339996  162.184418
3 2015-01-06  188.300003  188.660004  183.929993  184.529999  158.903549
4 2015-01-07  186.850006  187.990005  185.770004  187.279999  161.271637

    Volume
0  1566800
1  1877700
2  3413200
3  3429200
4  1896800
[*********************100%***********************]  1 of 1 completed
HD
        Date        Open        High         Low       Close  Adj Close  \
0 2014-12-31  104.750000  106.019997  104.559998  104.970001  86.889282
1 2015-01-02  105.160004  105.660004  102.669998  103.430000  85.614525
2 2015-01-05  102.779999  102.779999  100.790001  101.260002  83.818298
3 2015-01-06  102.070000  102.070000  100.339996  100.949997  83.561699
4 2015-01-07  102.290001  104.470001  102.000000  104.410004  86.425743

    Volume
0  5821600
1  4323700
2  5878100
3  4910100
4  5091000
[*********************100%***********************]  1 of 1 completed
HON
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  96.261719  96.624001  95.213013  95.260681  80.446098  1828357
1 2015-01-02  95.527626  96.147316  94.478920  95.556229  80.695694  2232817
2 2015-01-05  95.241615  95.241615  93.430214  93.735291  79.157944  3310049
3 2015-01-06  93.716225  94.850731  92.982132  93.516014  78.972748  4438363
4 2015-01-07  94.450317  95.193947  93.897362  94.192909  79.544380  2738078
[*********************100%***********************]  1 of 1 completed
IBM
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  153.355637  154.397705  153.326965  153.384323  107.067543
1 2015-01-02  154.216064  156.128113  153.919693  154.933075  108.148621
2 2015-01-05  154.177826  154.177826  152.189301  152.495224  106.446899
3 2015-01-06  152.648178  152.925430  148.346085  149.206497  104.151291
4 2015-01-07  150.286804  150.286804  147.256210  148.231354  103.470612

    Volume
0  4196447
1  5779673
2  5104898
3  6429448
4  4918083
[*********************100%***********************]  1 of 1 completed
INTC
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  36.630001  37.040001  36.290001  36.290001  28.526609  20393600
1 2015-01-02  36.669998  37.160000  36.110001  36.360001  28.581635  23605600
2 2015-01-05  36.200001  36.450001  35.939999  35.950001  28.259344  32785000
3 2015-01-06  36.080002  36.230000  35.259998  35.279999  27.732676  30847600
4 2015-01-07  35.639999  36.070000  35.270000  36.020000  28.314363  27725200
[*********************100%***********************]  1 of 1 completed
JNJ
        Date        Open        High         Low       Close  Adj Close  \
0 2014-12-31  105.610001  106.110001  104.540001  104.570000  83.743065
1 2015-01-02  105.050003  105.550003  104.129997  104.519997  83.703003
2 2015-01-05  104.480003  104.730003  103.680000  103.790001  83.118431
3 2015-01-06  104.339996  104.989998  102.940002  103.279999  82.709991
4 2015-01-07  103.910004  105.830002  103.809998  105.559998  84.535881

    Volume
0  6202100
1  5753600
2  8079300
3  7428000
4  7931700
[*********************100%***********************]  1 of 1 completed
JPM
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  63.299999  63.490002  62.580002  62.580002  49.688774  18529400
1 2015-01-02  62.180000  62.959999  62.070000  62.490002  49.936516  12600000
2 2015-01-05  62.060001  62.279999  60.230000  60.549999  48.386223  20100600
3 2015-01-06  60.639999  60.750000  58.349998  58.980000  47.131622  29074100
4 2015-01-07  59.889999  59.889999  58.669998  59.070000  47.203552  23843200
[*********************100%***********************]  1 of 1 completed
KHC
        Date       Open       High        Low      Close  Adj Close   Volume
0 2015-07-06  71.000000  74.290001  71.000000  72.959999  52.813618  3809700
1 2015-07-07  73.730003  74.709999  72.959999  74.629997  54.022488  5794300
2 2015-07-08  74.300003  75.500000  74.040001  75.400002  54.579872  4276600
3 2015-07-09  76.470001  77.066002  74.500000  74.800003  54.145557  4267100
4 2015-07-10  75.050003  77.800003  75.000000  77.309998  55.962471  4983000
[*********************100%***********************]  1 of 1 completed
KO
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  42.919998  42.939999  42.220001  42.220001  32.408783   9369500
1 2015-01-02  42.259998  42.400002  41.799999  42.139999  32.347374   9921100
2 2015-01-05  42.689999  42.970001  42.080002  42.139999  32.347374  26292600
3 2015-01-06  42.410000  42.939999  42.240002  42.459999  32.593010  16897500
4 2015-01-07  42.799999  43.110001  42.580002  42.990002  32.999855  13412300
[*********************100%***********************]  1 of 1 completed
LIN
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  131.529999  131.699997  129.559998  129.559998  109.836075
1 2015-01-02  129.639999  130.220001  128.850006  129.949997  110.166718
2 2015-01-05  128.820007  129.059998  126.110001  126.519997  107.258888
3 2015-01-06  126.199997  127.019997  124.820000  124.900002  105.885506
4 2015-01-07  125.870003  126.650002  125.250000  126.300003  107.072380

    Volume
0   764900
1   683700
2  1165700
3  1349800
4   861300
[*********************100%***********************]  1 of 1 completed
LLY
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  69.940002  70.500000  68.930000  68.989998  57.772423  2491000
1 2015-01-02  69.769997  70.820000  69.720001  70.059998  58.668427  3146200
2 2015-01-05  69.730003  70.089996  69.150002  69.370003  58.090626  4845500
3 2015-01-06  69.919998  70.910004  69.199997  69.720001  58.383724  5127400
4 2015-01-07  70.029999  70.529999  68.449997  69.230003  57.973400  9043000
[*********************100%***********************]  1 of 1 completed
LMT
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  194.910004  195.970001  192.520004  192.570007  154.290497
1 2015-01-02  192.100006  194.479996  191.039993  193.309998  154.883347
2 2015-01-05  192.899994  194.500000  188.600006  189.289993  151.662445
3 2015-01-06  189.619995  190.990005  186.800003  188.399994  150.949371
4 2015-01-07  189.320007  191.020004  189.220001  190.830002  152.896393

    Volume
0   706500
1   902100
2  1506200
3  1205800
4   941900
[*********************100%***********************]  1 of 1 completed
LOW
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  68.739998  69.570000  68.699997  68.800003  59.538300  4352000
1 2015-01-02  69.000000  69.330002  67.339996  67.699997  58.586384  4212000
2 2015-01-05  67.190002  67.379997  65.889999  66.080002  57.184456  7335600
3 2015-01-06  66.529999  66.800003  65.360001  66.230003  57.314266  5247400
4 2015-01-07  66.860001  68.389999  66.839996  68.199997  59.019077  4719600
[*********************100%***********************]  1 of 1 completed
MA
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  87.180000  87.540001  86.160004  86.160004  81.850258  2811100
1 2015-01-02  86.680000  87.360001  84.919998  85.680000  81.394272  4505800
2 2015-01-05  85.290001  85.349998  83.050003  83.269997  79.104797  6441400
3 2015-01-06  83.660004  83.779999  81.800003  83.089996  78.933815  7690000
4 2015-01-07  84.099998  84.279999  83.070000  84.220001  80.161667  5846800
[*********************100%***********************]  1 of 1 completed
MCD
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  93.750000  94.800003  93.570000  93.699997  75.668823  4589300
1 2015-01-02  94.129997  95.000000  93.050003  93.260002  75.313484  6019700
2 2015-01-05  93.300003  93.680000  92.220001  92.230003  74.481682  6211900
3 2015-01-06  92.669998  93.809998  91.879997  92.400002  74.618980  6484100
4 2015-01-07  93.260002  94.050003  92.860001  94.010002  75.919159  6400300

[*********************100%***********************]  1 of 1 completed
MDLZ
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  37.029999  37.139999  36.310001  36.330002  30.852160   5024200
1 2015-01-02  36.430000  36.939999  36.270000  36.790001  31.242805   7707700
2 2015-01-05  36.709999  36.770000  36.119999  36.240002  30.775728   9621100
3 2015-01-06  36.369999  36.650002  35.790001  35.990002  30.563414   7669500
4 2015-01-07  36.189999  37.200001  35.970001  37.119999  31.523041  10418800
[*********************100%***********************]  1 of 1 completed
MDT
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  73.279999  73.750000  72.110001  72.199997  60.060631   4737400
1 2015-01-02  72.129997  72.989998  71.410004  71.879997  59.794422   6029800
2 2015-01-05  71.500000  71.839996  71.089996  71.580002  59.544853  11258700
3 2015-01-06  72.000000  72.470001  70.870003  71.220001  59.245399  12838800
4 2015-01-07  71.720001  73.099998  71.510002  73.000000  60.726101   8104100
[*********************100%***********************]  1 of 1 completed
MET
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  49.180035  49.206776  48.190731  48.208557  36.316441   3547315
1 2015-01-02  48.556149  48.805702  47.798573  48.048126  36.195583   4388927
2 2015-01-05  47.611408  47.798573  46.238857  46.443851  34.987053   7315664
3 2015-01-06  46.524063  46.568626  44.812836  45.035652  33.926220  13546916
4 2015-01-07  45.570412  45.926914  45.178253  45.632797  34.376068   8782006
[*********************100%***********************]  1 of 1 completed
META
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  79.540001  79.800003  77.860001  78.019997  78.019997  19935400
1 2015-01-02  78.580002  78.930000  77.699997  78.449997  78.449997  18177500
2 2015-01-05  77.980003  79.250000  76.860001  77.190002  77.190002  26452200
3 2015-01-06  77.230003  77.589996  75.360001  76.150002  76.150002  27399300
4 2015-01-07  76.760002  77.360001  75.820000  76.150002  76.150002  22045300
[*********************100%***********************]  1 of 1 completed
MMM
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  166.000000  167.169998  164.199997  164.320007  127.023010
1 2015-01-02  164.710007  165.080002  162.729996  164.059998  126.822014
2 2015-01-05  163.000000  163.639999  160.080002  160.360001  123.961884
3 2015-01-06  160.820007  161.369995  157.740005  158.649994  122.639954
4 2015-01-07  159.899994  160.279999  158.940002  159.800003  123.528900

    Volume
0  1623700
1  2116400
2  3692900
3  3532000
4  3081300
[*********************100%***********************]  1 of 1 completed
MO
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  49.910000  50.020000  49.169998  49.270000  30.155558  5109600
1 2015-01-02  49.299999  49.639999  48.580002  48.970001  29.971926  6078100
2 2015-01-05  48.639999  48.990002  48.520000  48.689999  29.800566  6900200
3 2015-01-06  49.000000  49.650002  48.889999  48.980000  29.978062  7240000
4 2015-01-07  49.330002  50.029999  49.320000  49.880001  30.528894  5492500
[*********************100%***********************]  1 of 1 completed
MRK
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  54.646946  55.200382  54.131680  54.188931  41.892796   7842813
1 2015-01-02  54.599236  55.143131  54.417938  54.570610  42.187870   7415962
2 2015-01-05  55.543892  55.801525  54.933205  55.381680  42.814892  16727338
3 2015-01-06  55.610687  57.729008  55.582062  57.557251  44.496803  25453510
4 2015-01-07  57.671757  58.797710  57.595421  58.788170  45.448402  19528956
[*********************100%***********************]  1 of 1 completed
MS
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  39.119999  39.189999  38.790001  38.799999  31.599274   6492900
1 2015-01-02  39.049999  39.150002  38.250000  38.709999  31.525970   7333800
2 2015-01-05  38.459999  38.590000  37.169998  37.500000  30.540535  12507900
3 2015-01-06  37.470001  37.540001  36.060001  36.419998  29.660961  16507800
4 2015-01-07  36.930000  37.049999  36.599998  36.939999  30.084457   9957700
[*********************100%***********************]  1 of 1 completed
MSFT
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  46.730000  47.439999  46.450001  46.450001  40.439583  21552500
1 2015-01-02  46.660000  47.419998  46.540001  46.759998  40.709465  27913900
2 2015-01-05  46.369999  46.730000  46.250000  46.330002  40.335102  39673900
3 2015-01-06  46.380001  46.750000  45.540001  45.650002  39.743099  36447900
4 2015-01-07  45.980000  46.459999  45.490002  46.230000  40.248051  29114100
[*********************100%***********************]  1 of 1 completed
NEE
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  26.962500  27.117500  26.545000  26.572500  21.637838   5991200
1 2015-01-02  26.657499  26.782499  26.344999  26.672501  21.719265   6459200
2 2015-01-05  26.645000  26.692499  26.297501  26.389999  21.489225   8153600
3 2015-01-06  26.480000  26.977501  26.440001  26.492500  21.572697  10623200
4 2015-01-07  26.897499  26.990000  26.517500  26.735001  21.770161   7292000
[*********************100%***********************]  1 of 1 completed
NFLX
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  49.032856  49.391430  48.787144  48.801430  48.801430   8627500
1 2015-01-02  49.151428  50.331429  48.731430  49.848572  49.848572  13475000
2 2015-01-05  49.258572  49.258572  47.147144  47.311428  47.311428  18165000
3 2015-01-06  47.347141  47.639999  45.661430  46.501431  46.501431  16037700
4 2015-01-07  47.347141  47.421429  46.271427  46.742859  46.742859   9849700
[*********************100%***********************]  1 of 1 completed
NKE
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  48.485001  48.805000  48.020000  48.075001  44.025749  4697400
1 2015-01-02  48.275002  48.474998  47.055000  47.514999  43.512905  4985800
2 2015-01-05  47.255001  47.275002  46.564999  46.750000  42.812344  6889200
3 2015-01-06  46.945000  47.075001  46.035000  46.474998  42.560513  7576000
4 2015-01-07  46.805000  47.650002  46.549999  47.435001  43.439663  7256000
[*********************100%***********************]  1 of 1 completed
NVDA
        Date    Open    High     Low   Close  Adj Close    Volume
0 2014-12-31  5.1000  5.1275  4.9975  5.0125   4.814917  16630000
1 2015-01-02  5.0325  5.0700  4.9525  5.0325   4.834128  11368000
2 2015-01-05  5.0325  5.0475  4.9250  4.9475   4.752478  19795200
3 2015-01-06  4.9550  4.9600  4.7925  4.7975   4.608393  19776400
4 2015-01-07  4.8325  4.8750  4.7700  4.7850   4.596384  32180800
[*********************100%***********************]  1 of 1 completed
ORCL
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  45.450001  45.560001  44.970001  44.970001  39.420074  13269200
1 2015-01-02  45.020000  45.189999  43.970001  44.330002  38.859055  15070200
2 2015-01-05  44.160000  44.250000  43.580002  43.590000  38.314102  18369400
3 2015-01-06  44.060001  44.180000  42.990002  43.139999  37.918560  19229500
4 2015-01-07  43.330002  43.520000  43.009998  43.150002  37.927349  13502200
[*********************100%***********************]  1 of 1 completed
PEP
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  95.669998  95.980003  94.540001  94.559998  74.541138  3727400
1 2015-01-02  94.930000  95.339996  94.050003  94.440002  74.446548  3545700
2 2015-01-05  94.449997  95.050003  93.720001  93.730003  73.886871  6441000
3 2015-01-06  94.080002  94.620003  92.940002  93.019997  73.327179  6195000
4 2015-01-07  95.129997  96.230003  94.430000  95.739998  75.471336  6526300
[*********************100%***********************]  1 of 1 completed
PFE
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  29.582542  30.075901  29.544592  29.554079  21.902328  15736220
1 2015-01-02  29.667933  30.151802  29.620493  29.724857  22.028889  16371571
2 2015-01-05  29.743834  29.800758  29.421251  29.563566  21.909355  24786391
3 2015-01-06  29.667933  30.227703  29.525618  29.810247  22.092180  29468681
4 2015-01-07  30.094877  30.237192  29.962049  30.218216  22.394520  20248816

[*********************100%***********************]  1 of 1 completed
PG
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  92.040001  92.550003  91.029999  91.089996  71.816963  5712100
1 2015-01-02  90.839996  91.000000  89.919998  90.440002  71.304497  7251400
2 2015-01-05  90.230003  91.000000  89.849998  90.010002  70.965492  8626100
3 2015-01-06  90.309998  90.559998  89.260002  89.599998  70.642204  7791200
4 2015-01-07  89.940002  90.370003  89.559998  90.070000  71.012779  5986600
[*********************100%***********************]  1 of 1 completed
PM
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  82.730003  82.820000  81.360001  81.449997  53.443592   3661300
1 2015-01-02  81.599998  81.790001  80.629997  81.019997  53.161438   3787700
2 2015-01-05  80.989998  81.089996  79.860001  80.410004  52.761200   6213400
3 2015-01-06  80.959999  82.050003  80.599998  81.099998  53.213932  10001900
4 2015-01-07  81.800003  82.050003  81.019997  81.709999  53.614185   7525100
[*********************100%***********************]  1 of 1 completed
PYPL
        Date       Open       High        Low      Close  Adj Close   Volume
0 2015-07-06  38.000000  39.750000  36.000000  36.709999  36.709999  5866600
1 2015-07-07  37.720001  37.810001  36.000000  36.619999  36.619999  7359000
2 2015-07-08  36.340000  36.360001  34.529999  34.700001  34.700001  5387700
3 2015-07-09  35.099998  35.520000  33.990002  34.500000  34.500000  3760100
4 2015-07-10  34.660000  35.189999  33.980000  34.689999  34.689999  4472800
[*********************100%***********************]  1 of 1 completed
QCOM
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  75.209999  75.410004  74.309998  74.330002  57.848244   7763500
1 2015-01-02  74.510002  74.870003  73.750000  74.279999  57.809307   6662700
2 2015-01-05  73.709999  74.500000  73.629997  73.930000  57.536926  12042800
3 2015-01-06  73.860001  74.610001  72.739998  72.879997  56.719776  11094000
4 2015-01-07  73.370003  74.470001  72.959999  73.730003  57.381279  10030700
[*********************100%***********************]  1 of 1 completed
RTX
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  73.379486  73.568283  72.347389  72.372559  59.322578  3755602
1 2015-01-02  72.460670  72.775330  71.617371  72.397736  59.343224  4989619
2 2015-01-05  72.089363  72.662048  71.013214  71.189430  58.352791  7572062
3 2015-01-06  70.654503  71.139084  69.370674  70.182503  57.527435  9172185
4 2015-01-07  70.704849  71.327881  70.497169  70.943993  58.151611  4929396
[*********************100%***********************]  1 of 1 completed
SBUX
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  41.095001  41.665001  41.000000  41.025002  35.209301   7625400
1 2015-01-02  41.064999  41.490002  40.445000  40.720001  34.947548   6886000
2 2015-01-05  40.070000  40.334999  39.744999  39.939999  34.278111  11623800
3 2015-01-06  40.169998  40.195000  39.279999  39.615002  33.999180   7664400
4 2015-01-07  39.875000  40.615002  39.700001  40.590000  34.835964   9732600
[*********************100%***********************]  1 of 1 completed
SCHW
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  30.490000  30.670000  30.180000  30.190001  27.514378  2915800
1 2015-01-02  30.410000  30.570000  29.809999  30.219999  27.541718  4537600
2 2015-01-05  29.969999  30.000000  29.129999  29.209999  26.621231  5931400
3 2015-01-06  29.209999  29.280001  27.920000  28.139999  25.646059  9825000
4 2015-01-07  28.459999  28.700001  28.219999  28.690001  26.147318  7966100
[*********************100%***********************]  1 of 1 completed
SO
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  49.950001  50.099998  49.049999  49.110001  33.973759  4963300
1 2015-01-02  49.189999  49.439999  48.840000  49.369999  34.153629  4645300
2 2015-01-05  49.380001  49.490002  48.910000  49.160000  34.008354  7028700
3 2015-01-06  49.200001  50.180000  49.180000  49.750000  34.416519  9358300
4 2015-01-07  49.790001  50.439999  49.599998  50.299999  34.796997  4917000
[*********************100%***********************]  1 of 1 completed
SPG
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  186.190002  187.100006  182.100006  182.110001  122.698532
1 2015-01-02  183.149994  185.570007  182.970001  185.339996  124.874741
2 2015-01-05  185.550003  186.720001  183.830002  186.100006  125.386810
3 2015-01-06  187.190002  192.279999  186.899994  191.279999  128.876877
4 2015-01-07  191.949997  194.960007  190.800003  194.800003  131.248535

    Volume
0  1110600
1  1229100
2  1267300
3  2915600
4  2138400
[*********************100%***********************]  1 of 1 completed
T
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  25.664654  25.740181  25.332327  25.370090  13.494236  32011804
1 2015-01-02  25.370090  25.657101  25.370090  25.581572  13.606724  27226736
2 2015-01-05  25.581572  25.619335  25.317221  25.339878  13.478164  40288128
3 2015-01-06  25.506042  25.536255  25.188822  25.377644  13.498253  39184839
4 2015-01-07  25.362537  25.370090  24.720545  25.052870  13.576952  41917840
[*********************100%***********************]  1 of 1 completed
TGT
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  75.449997  76.650002  75.269997  75.910004  60.484669  3206000
1 2015-01-02  76.110001  76.639999  74.550003  75.330002  60.022514  3710300
2 2015-01-05  75.169998  75.510002  73.879997  73.980003  58.946838  3778200
3 2015-01-06  74.300003  74.690002  72.739998  73.970001  58.938873  4659300
4 2015-01-07  74.879997  76.949997  74.879997  76.769997  61.169876  6946900
[*********************100%***********************]  1 of 1 completed
TMO
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  127.230003  127.839996  125.260002  125.290001  122.190453
1 2015-01-02  126.300003  128.490005  126.160004  128.119995  124.950439
2 2015-01-05  127.309998  129.139999  126.150002  126.360001  123.233978
3 2015-01-06  126.360001  128.190002  124.540001  125.180000  122.083176
4 2015-01-07  126.559998  128.970001  125.940002  128.929993  125.740395

    Volume
0  1045900
1  2034700
2  2430300
3  2519300
4  2098300
[*********************100%***********************]  1 of 1 completed
TMUS
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  27.100000  27.170000  26.809999  26.940001  26.940001  3668700
1 2015-01-02  27.100000  27.469999  27.030001  27.299999  27.299999  3515300
2 2015-01-05  27.120001  27.270000  26.730000  26.930000  26.930000  3477300
3 2015-01-06  27.030001  27.200001  26.459999  26.870001  26.870001  4237100
4 2015-01-07  27.250000  28.290001  26.959999  28.250000  28.250000  7528300
[*********************100%***********************]  1 of 1 completed
TSLA
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  14.872667  15.045333  14.816667  14.827333  14.827333  34462500
1 2015-01-02  14.858000  14.883333  14.217333  14.620667  14.620667  71466000
2 2015-01-05  14.303333  14.433333  13.810667  14.006000  14.006000  80527500
3 2015-01-06  14.004000  14.280000  13.614000  14.085333  14.085333  93928500
4 2015-01-07  14.223333  14.318667  13.985333  14.063333  14.063333  44526000
[*********************100%***********************]  1 of 1 completed
TXN
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  54.200001  54.250000  53.439999  53.470001  43.009460  4068600
1 2015-01-02  53.560001  54.080002  53.009998  53.480000  43.017502  4020100
2 2015-01-05  53.189999  53.490002  52.599998  52.650002  42.349880  5599300
3 2015-01-06  52.889999  53.020000  51.720001  51.779999  41.650078  5468400
4 2015-01-07  52.009998  52.869999  51.790001  52.709999  42.398136  4577100

[*********************100%***********************]  1 of 1 completed
UNH
        Date        Open        High         Low       Close  Adj Close  \
0 2014-12-31  103.120003  103.680000  101.029999  101.089996  89.196602
1 2015-01-02  101.500000  102.620003  100.010002  100.779999  88.923096
2 2015-01-05  100.300003  100.449997   98.750000   99.120003  87.458405
3 2015-01-06   99.830002  100.139999   98.459999   98.919998  87.281929
4 2015-01-07   98.959999  100.300003   98.919998   99.930000  88.173111

    Volume
0  2313900
1  3060900
2  4679000
3  3468300
4  3225800
[*********************100%***********************]  1 of 1 completed
UNP
        Date        Open        High         Low       Close  Adj Close  \
0 2014-12-31  120.720001  120.769997  119.019997  119.129997  99.186287
1 2015-01-02  119.930000  120.800003  117.660004  118.610001  98.753296
2 2015-01-05  118.309998  118.309998  114.470001  114.599998  95.414627
3 2015-01-06  114.279999  114.290001  111.660004  112.230003  93.441406
4 2015-01-07  113.160004  113.800003  111.849998  112.849998  93.957611

    Volume
0  2345800
1  3082700
2  4602500
3  6315000
4  4008400
[*********************100%***********************]  1 of 1 completed
UPS
        Date        Open        High         Low       Close  Adj Close  \
0 2014-12-31  112.449997  112.699997  111.070000  111.169998  86.529198
1 2015-01-02  111.269997  111.650002  109.400002  110.379997  85.914284
2 2015-01-05  109.989998  109.989998  107.959999  108.169998  84.194138
3 2015-01-06  108.169998  108.870003  106.519997  107.459999  83.641510
4 2015-01-07  108.260002  108.769997  107.589996  108.459999  84.419861

    Volume
0  1393800
1  2662900
2  3519600
3  3808900
4  1949500
[*********************100%***********************]  1 of 1 completed
USB
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  45.700001  45.790001  44.939999  44.950001  35.262913  5691600
1 2015-01-02  45.430000  45.490002  44.400002  44.830002  35.168762  5010500
2 2015-01-05  44.549999  44.770000  43.689999  43.750000  34.321522  6568700
3 2015-01-06  43.900002  44.000000  42.880001  43.169998  33.866497  8523700
4 2015-01-07  43.599998  43.689999  43.139999  43.549999  34.164612  5073700
[*********************100%***********************]  1 of 1 completed
V
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  66.370003  66.812500  65.544998  65.550003  61.954205   5904800
1 2015-01-02  65.845001  66.687500  65.622498  66.254997  62.620541   8389600
2 2015-01-05  65.872498  65.875000  64.717499  64.792503  61.238262  12751200
3 2015-01-06  64.947502  65.195000  63.715000  64.375000  60.843655  11070000
4 2015-01-07  64.610001  65.285004  64.362503  65.237503  61.658855   9346800
[*********************100%***********************]  1 of 1 completed
VZ
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  47.080002  47.400002  46.700001  46.779999  31.894463  14029500
1 2015-01-02  47.000000  47.230000  46.910000  46.959999  32.017189  11421200
2 2015-01-05  47.080002  47.160000  46.560001  46.570000  31.751286  18964500
3 2015-01-06  46.790001  47.380001  46.470001  47.040001  32.071728  22950100
4 2015-01-07  46.919998  47.040001  46.049999  46.189999  31.864769  20793600
[*********************100%***********************]  1 of 1 completed
WBA
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  76.489998  76.739998  75.010002  76.199997  59.441914  3083700
1 2015-01-02  76.110001  77.190002  75.089996  76.000000  59.285912  3938500
2 2015-01-05  75.080002  75.900002  74.269997  74.500000  58.115799  4767900
3 2015-01-06  75.970001  76.000000  73.940002  74.690002  58.264000  4881600
4 2015-01-07  75.050003  76.690002  74.959999  76.599998  59.753941  5672100
[*********************100%***********************]  1 of 1 completed
WFC
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  55.500000  55.669998  54.820000  54.820000  43.254414  10090800
1 2015-01-02  55.110001  55.189999  54.189999  54.700001  43.159737  11700900
2 2015-01-05  54.139999  54.360001  53.099998  53.200001  41.976196  15000500
3 2015-01-06  53.349998  53.470001  51.849998  52.090000  41.100368  20211200
4 2015-01-07  52.630001  52.639999  52.110001  52.400002  41.344975  15714700
[*********************100%***********************]  1 of 1 completed
WMT
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  87.080002  87.440002  85.860001  85.879997  71.941231  4151400
1 2015-01-02  86.269997  86.720001  85.550003  85.900002  71.957947  4501800
2 2015-01-05  85.720001  86.320000  85.510002  85.650002  71.748550  6979000
3 2015-01-06  85.980003  86.750000  85.790001  86.309998  72.301407  8205100
4 2015-01-07  86.779999  88.680000  86.669998  88.599998  74.219749  8498400
[*********************100%***********************]  1 of 1 completed
XOM
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  92.419998  93.129997  92.059998  92.449997  63.459412  11337200
1 2015-01-02  92.250000  93.050003  91.809998  92.830002  63.720261  10220400
2 2015-01-05  92.099998  92.400002  89.500000  90.290001  61.976749  18502400
3 2015-01-06  90.239998  91.410004  89.019997  89.809998  61.647274  16670700
4 2015-01-07  90.650002  91.480003  90.000000  90.720001  62.271915  13590700

In [33]:
general_df.to_csv('sp500_df.csv')

In [63]:
general_df = pd.read_csv('sp500_df.csv', index_col=0)
general_df

,Date,Close,AAPL_Close,ABBV_Close,ABT_Close,ACN_Close,ADBE_Close,AIG_Close,AMD_Close,AMGN_Close,...,UNH_Close,UNP_Close,UPS_Close,USB_Close,V_Close,VZ_Close,WBA_Close,WFC_Close,WMT_Close,XOM_Close
0,2019-03-20,47.040001,47.040001,80.430000,79.940002,166.270004,259.739990,42.959999,25.700001,191.119995,...,250.500000,161.000000,107.919998,50.369999,153.750000,57.669998,62.790001,50.400002,98.639999,81.320000
1,2019-03-21,48.772499,48.772499,81.239998,80.059998,168.240005,264.179993,43.430000,27.889999,191.889999,...,252.020004,162.610001,109.800003,49.660000,155.800003,58.290001,63.599998,49.860001,99.059998,81.790001
2,2019-03-22,47.762501,47.762501,79.760002,77.970001,165.240005,259.690002,42.619999,26.370001,186.699997,...,247.089996,160.619995,107.349998,48.279999,153.070007,59.759998,62.410000,48.310001,98.279999,80.480003
3,2019-03-25,47.185001,47.185001,79.510002,78.230003,165.080002,262.269989,42.450001,25.969999,186.589996,...,246.860001,161.500000,106.900002,48.099998,153.029999,60.080002,61.689999,48.080002,98.169998,79.919998
4,2019-03-26,46.697498,46.697498,80.760002,79.000000,166.940002,265.589996,43.049999,25.690001,188.270004,...,243.389999,161.809998,108.410004,48.509998,155.300003,60.630001,61.919998,49.009998,98.320000,80.959999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,2022-12-23,131.860001,131.860001,163.100006,108.180000,266.089996,338.450012,63.160000,64.519997,263.920013,...,531.309998,209.910004,177.009995,43.200001,205.830002,38.410000,38.630001,40.980000,143.770004,108.680000
951,2022-12-27,130.029999,130.029999,162.990005,108.570000,265.309998,335.089996,63.330002,63.270000,263.390015,...,531.989990,210.320007,176.929993,43.650002,206.289993,39.250000,38.310001,41.040001,143.809998,110.190002
952,2022-12-28,126.040001,126.040001,162.229996,107.830002,263.119995,328.329987,62.889999,62.570000,261.420013,...,528.450012,206.869995,173.610001,43.349998,204.990005,38.810001,37.580002,41.119999,141.289993,108.379997
953,2022-12-29,129.610001,129.610001,162.559998,110.309998,268.380005,337.579987,63.630001,64.820000,263.160004,...,529.880005,209.220001,175.750000,43.570000,208.059998,39.259998,37.470001,41.330002,142.149994,109.199997
954,2022-12-30,129.929993,129.929993,161.610001,109.790001,266.839996,336.529999,63.240002,64.769997,262.640015,...,530.179993,207.070007,173.839996,43.610001,207.759995,39.400002,37.360001,41.290001,141.789993,110.300003

In [64]:
cor_AAPL_df = general_df.drop(columns=['Date', 'Close'])
# the_names= corr_df.columns.tolist()
# x = AAPL_df['Close']
# cor_AAPL_df = AAPL_df[the_names]
# Covariance = np.cov(x, y)
Covariance = cor_AAPL_df.corr()
Covariance = Covariance.round(decimals=12, out=None)

In [65]:
cor_dic = Covariance['AAPL_Close'].to_dict()
sortedList = [k for k, v in sorted(cor_dic.items(), key=lambda item: item[1], reverse = True)]
# sortedDict = sorted(cor_dic.items())

In [66]:
sortedList[0]

'AAPL_Close'

In [67]:
cor_dic[sortedList[0]]

1.0

In [68]:
for the_key1, the_key2 in zip(sortedList[1:51], sortedList[51:]):
#     print(the_key1)
    print(the_key1[:-6], ' & ',  '%.10f' % cor_dic[the_key1] , ' & ', the_key2[:-6], ' & ', '%.10f' % cor_dic[the_key2] , ' \\\\')

TMO  &  0.9749621815  &  PM  &  0.6934372072  \\
MSFT  &  0.9584408917  &  AMZN  &  0.6862779841  \\
DHR  &  0.9575826520  &  DUK  &  0.6835256992  \\
TSLA  &  0.9563119144  &  ADBE  &  0.6792954588  \\
LOW  &  0.9524922058  &  BAC  &  0.6726946972  \\
NEE  &  0.9393401279  &  SO  &  0.6633826895  \\
AVGO  &  0.9365944174  &  HON  &  0.6576001985  \\
LIN  &  0.9346751859  &  COF  &  0.6440110017  \\
COST  &  0.9272982142  &  KO  &  0.6246900536  \\
ACN  &  0.9243416519  &  FDX  &  0.6234879526  \\
UPS  &  0.9230814088  &  AMGN  &  0.5961522488  \\
QCOM  &  0.9196617265  &  GD  &  0.5849544780  \\
NVDA  &  0.9136831784  &  BKNG  &  0.5813012557  \\
UNH  &  0.9070783206  &  AMT  &  0.5681555440  \\
GOOGL  &  0.9052657636  &  CRM  &  0.5436839686  \\
PG  &  0.9051200401  &  JPM  &  0.5414507863  \\
GOOG  &  0.9037163331  &  DOW  &  0.5401116025  \\
MS  &  0.9008001948  &  EXC  &  0.5365882916  \\
AMD  &  0.8998259206  &  GM  &  0.5230489450  \\
UNP  &  0.8988840152  &  COP  &  0.5124887619  \\
ABT  &  0.8966819714  &  SBUX  &  0.4801978971  \\
TXN  &  0.8953937081  &  CHTR  &  0.4794854954  \\
HD  &  0.8952863815  &  META  &  0.3645625073  \\
JNJ  &  0.8909305233  &  BK  &  0.3627192139  \\
TMUS  &  0.8746989764  &  GE  &  0.3566194590  \\
CVS  &  0.8628491743  &  CVX  &  0.3534525711  \\
ABBV  &  0.8599524132  &  LMT  &  0.3461452276  \\
TGT  &  0.8515787196  &  AIG  &  0.3382245815  \\
BRK-B  &  0.8514021816  &  PYPL  &  0.3032253371  \\
MDLZ  &  0.8384152888  &  RTX  &  0.3030762949  \\
SCHW  &  0.8368359914  &  CMCSA  &  0.2713778047  \\
LLY  &  0.8336090133  &  MRK  &  0.2626351267  \\
GS  &  0.8334006815  &  NFLX  &  0.2317437198  \\
WMT  &  0.8319915533  &  XOM  &  0.2287230449  \\
PEP  &  0.8317683817  &  MDT  &  0.1952537675  \\
BLK  &  0.8315686863  &  CSCO  &  0.1849125088  \\
MA  &  0.8309163962  &  DIS  &  0.1728127407  \\
CAT  &  0.8265196374  &  USB  &  0.1519989806  \\
ORCL  &  0.8243781254  &  IBM  &  0.1138601627  \\
MCD  &  0.8144782173  &  WFC  &  0.1056573318  \\
EMR  &  0.8081832582  &  MO  &  0.0972825441  \\
V  &  0.7801973237  &  GILD  &  -0.0632311207  \\
BMY  &  0.7583230404  &  MMM  &  -0.1435192760  \\
NKE  &  0.7500122126  &  SPG  &  -0.1554576073  \\
F  &  0.7442243825  &  C  &  -0.2203394997  \\
AXP  &  0.7436420896  &  INTC  &  -0.3422279609  \\
KHC  &  0.7402985101  &  WBA  &  -0.4329831451  \\
MET  &  0.7249106349  &  VZ  &  -0.5250465574  \\
PFE  &  0.7183985571  &  BA  &  -0.6697111423  \\
CL  &  0.7101033262  &  T  &  -0.8035719197  \\

In [50]:
stock_name = 'AAPL'
start_date = "2015-01-01"
end_date = "2022-12-31"
to_pred_stock_df = data.get_data_yahoo(tickers=stock_name, start = start_date, end = end_date)

# to_pred_stock_df = to_pred_stock_df.drop(to_pred_stock_df[to_pred_stock_df.index<start_date].index)
to_pred_stock_df.reset_index(inplace=True)

for index, the_name in enumerate(sortedList[1:11]):
    stock_df = data.get_data_yahoo(tickers=the_name[:-6], start=start_date, end=end_date)
    stock_df.reset_index(inplace=True)
    print(the_name)
    print(stock_df.head())
    if index == 0:
        general_df = to_pred_stock_df[["Date", "Close"]]
        general_df = pd.merge(general_df, stock_df[["Date", "Close"]].rename(columns={"Close": str(the_name)}), on="Date")
    else:
        general_df = pd.merge(general_df, stock_df[["Date", "Close"]].rename(columns={"Close": str(the_name)}), on="Date")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
TMO_Close
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  127.230003  127.839996  125.260002  125.290001  122.190460
1 2015-01-02  126.300003  128.490005  126.160004  128.119995  124.950439
2 2015-01-05  127.309998  129.139999  126.150002  126.360001  123.234001
3 2015-01-06  126.360001  128.190002  124.540001  125.180000  122.083168
4 2015-01-07  126.559998  128.970001  125.940002  128.929993  125.740402

    Volume
0  1045900
1  2034700
2  2430300
3  2519300
4  2098300
[*********************100%***********************]  1 of 1 completed
MSFT_Close
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  46.730000  47.439999  46.450001  46.450001  40.439579  21552500
1 2015-01-02  46.660000  47.419998  46.540001  46.759998  40.709473  27913900
2 2015-01-05  46.369999  46.730000  46.250000  46.330002  40.335110  39673900
3 2015-01-06  46.380001  46.750000  45.540001  45.650002  39.743107  36447900
4 2015-01-07  45.980000  46.459999  45.490002  46.230000  40.248051  29114100
[*********************100%***********************]  1 of 1 completed
DHR_Close
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  65.625473  65.822594  64.958305  64.981049  62.350441  2734683
1 2015-01-02  65.208488  65.420776  64.526154  64.988625  62.357719  2722152
2 2015-01-05  64.662621  64.897652  64.025780  64.344200  61.739368  3985095
3 2015-01-06  64.541321  64.700531  63.366188  63.904472  61.317448  3807030
4 2015-01-07  64.495827  64.715691  64.116753  64.291130  61.688446  4361801
[*********************100%***********************]  1 of 1 completed
TSLA_Close
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  14.872667  15.045333  14.816667  14.827333  14.827333  34462500
1 2015-01-02  14.858000  14.883333  14.217333  14.620667  14.620667  71466000
2 2015-01-05  14.303333  14.433333  13.810667  14.006000  14.006000  80527500
3 2015-01-06  14.004000  14.280000  13.614000  14.085333  14.085333  93928500
4 2015-01-07  14.223333  14.318667  13.985333  14.063333  14.063333  44526000
[*********************100%***********************]  1 of 1 completed
LOW_Close
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  68.739998  69.570000  68.699997  68.800003  59.538296  4352000
1 2015-01-02  69.000000  69.330002  67.339996  67.699997  58.586372  4212000
2 2015-01-05  67.190002  67.379997  65.889999  66.080002  57.184452  7335600
3 2015-01-06  66.529999  66.800003  65.360001  66.230003  57.314266  5247400
4 2015-01-07  66.860001  68.389999  66.839996  68.199997  59.019073  4719600
[*********************100%***********************]  1 of 1 completed
NEE_Close
        Date       Open       High        Low      Close  Adj Close    Volume
0 2014-12-31  26.962500  27.117500  26.545000  26.572500  21.637836   5991200
1 2015-01-02  26.657499  26.782499  26.344999  26.672501  21.719265   6459200
2 2015-01-05  26.645000  26.692499  26.297501  26.389999  21.489225   8153600
3 2015-01-06  26.480000  26.977501  26.440001  26.492500  21.572695  10623200
4 2015-01-07  26.897499  26.990000  26.517500  26.735001  21.770159   7292000
[*********************100%***********************]  1 of 1 completed
AVGO_Close
        Date        Open        High         Low       Close  Adj Close  \
0 2014-12-31  101.099998  103.029999  100.430000  100.589996  78.900848
1 2015-01-02  100.930000  102.209999   99.129997  100.089996  78.508652
2 2015-01-05  100.070000  100.820000   98.400002   98.489998  77.253654
3 2015-01-06   98.949997   99.080002   95.180000   96.250000  75.496651
4 2015-01-07   97.050003   99.389999   96.529999   98.849998  77.536026

    Volume
0  1512100
1  1350000
2  1559600
3  2219400
4  3090700
[*********************100%***********************]  1 of 1 completed
LIN_Close
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  131.529999  131.699997  129.559998  129.559998  109.836082
1 2015-01-02  129.639999  130.220001  128.850006  129.949997  110.166702
2 2015-01-05  128.820007  129.059998  126.110001  126.519997  107.258873
3 2015-01-06  126.199997  127.019997  124.820000  124.900002  105.885506
4 2015-01-07  125.870003  126.650002  125.250000  126.300003  107.072365

    Volume
0   764900
1   683700
2  1165700
3  1349800
4   861300
[*********************100%***********************]  1 of 1 completed
COST_Close
        Date        Open        High         Low       Close   Adj Close  \
0 2014-12-31  143.490005  144.130005  141.690002  141.750000  118.830406
1 2015-01-02  141.869995  143.149994  140.809998  141.610001  118.713081
2 2015-01-05  141.690002  142.160004  139.800003  140.000000  117.363388
3 2015-01-06  140.610001  142.940002  139.850006  141.850006  118.914223
4 2015-01-07  142.600006  144.429993  142.360001  144.320007  120.984871

    Volume
0  1477900
1  1471000
2  1748500
3  3185200
4  2171600
[*********************100%***********************]  1 of 1 completed
ACN_Close
        Date       Open       High        Low      Close  Adj Close   Volume
0 2014-12-31  90.180000  90.480003  89.290001  89.309998  77.832115  1754500
1 2015-01-02  89.669998  90.089996  88.430000  88.839996  77.422531  2021300
2 2015-01-05  88.040001  88.320000  87.180000  87.339996  76.115303  3000000
3 2015-01-06  87.500000  87.769997  86.010002  86.709999  75.566261  2867000
4 2015-01-07  87.160004  88.750000  87.160004  88.529999  77.152367  2865500

In [55]:
general_df.to_csv('top10_sp500_df.csv')

In [56]:
AAPL_df = pd.read_csv('collected_df.csv', index_col=0)
AAPL_df

,Date,Close,Volume,Adj Close,^DJI_Close,^IXIC_Close,^GSPC_Close,^RLG_Close,^NYA_Close,^VIX_Close,...,BACTSAMFRBDAL,IR,IQ,PPIACO,CPIAUCSL,CPILFESL,MICH,CSCICP03USM665S,Grow,News_Score
0,2015-01-02,27.332500,212818400,24.565697,17832.990234,4726.810059,2058.199951,960.280029,10830.919922,17.790001,...,-4.5,126.0,126.1,192.000,234.747,239.811,2.5,101.143074,False,0.500000
1,2015-01-05,26.562500,257142000,23.873644,17501.650391,4652.569824,2020.579956,943.780029,10607.679688,19.920000,...,-4.5,126.0,126.1,192.000,234.747,239.811,2.5,101.143074,False,0.500375
2,2015-01-06,26.565001,263188400,23.875887,17371.640625,4592.740234,2002.609985,935.020020,10514.870117,21.120001,...,-4.5,126.0,126.1,192.000,234.747,239.811,2.5,101.143074,True,0.719541
3,2015-01-07,26.937500,160423600,24.210682,17584.519531,4650.470215,2025.900024,946.880005,10627.129883,19.309999,...,-4.5,126.0,126.1,192.000,234.747,239.811,2.5,101.143074,True,0.074792
4,2015-01-08,27.972500,237458000,25.140909,17907.869141,4736.189941,2062.139893,964.159973,10800.540039,17.010000,...,-4.5,126.0,126.1,192.000,234.747,239.811,2.5,101.143074,True,0.996247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,2022-12-23,131.860001,63814900,131.658981,33203.929688,10497.860352,3844.820068,2165.620117,15188.450195,20.870001,...,-20.0,141.8,150.7,258.012,298.990,301.460,4.4,96.919411,False,0.696560
2003,2022-12-27,130.029999,69007800,129.831772,33241.558594,10353.230469,3829.250000,2144.899902,15218.259766,21.650000,...,-20.0,141.8,150.7,258.012,298.990,301.460,4.4,96.919411,False,0.312938
2004,2022-12-28,126.040001,85438400,125.847855,32875.710938,10213.290039,3783.219971,2117.199951,15037.320312,22.139999,...,-20.0,141.8,150.7,258.012,298.990,301.460,4.4,96.919411,False,0.175638
2005,2022-12-29,129.610001,75703700,129.412415,33220.800781,10478.089844,3849.280029,2163.790039,15241.209961,21.440001,...,-20.0,141.8,150.7,258.012,298.990,301.460,4.4,96.919411,True,0.930547
2006,2022-12-30,129.929993,77034200,129.731918,33147.250000,10466.480469,3839.500000,2158.189941,15184.309570,21.670000,...,-20.0,141.8,150.7,258.012,298.990,301.460,4.4,96.919411,True,0.225979

In [57]:
general_df  = pd.read_csv('top10_sp500_df.csv', index_col=0)
general_df

,Date,Close,TMO_Close,MSFT_Close,DHR_Close,TSLA_Close,LOW_Close,NEE_Close,AVGO_Close,LIN_Close,COST_Close,ACN_Close
0,2014-12-31,27.594999,125.290001,46.450001,64.981049,14.827333,68.800003,26.572500,100.589996,129.559998,141.750000,89.309998
1,2015-01-02,27.332500,128.119995,46.759998,64.988625,14.620667,67.699997,26.672501,100.089996,129.949997,141.610001,88.839996
2,2015-01-05,26.562500,126.360001,46.330002,64.344200,14.006000,66.080002,26.389999,98.489998,126.519997,140.000000,87.339996
3,2015-01-06,26.565001,125.180000,45.650002,63.904472,14.085333,66.230003,26.492500,96.250000,124.900002,141.850006,86.709999
4,2015-01-07,26.937500,128.929993,46.230000,64.291130,14.063333,68.199997,26.735001,98.849998,126.300003,144.320007,88.529999
...,...,...,...,...,...,...,...,...,...,...,...,...
2010,2022-12-23,131.860001,540.679993,238.729996,259.859985,123.150002,201.880005,84.169998,552.429993,329.329987,462.649994,266.089996
2011,2022-12-27,130.029999,545.440002,236.960007,260.880005,109.099998,201.710007,84.000000,553.539978,328.950012,458.500000,265.309998
2012,2022-12-28,126.040001,543.409973,234.529999,259.339996,112.709999,200.059998,83.160004,544.890015,325.910004,452.989990,263.119995
2013,2022-12-29,129.610001,557.010010,241.009995,266.850006,121.820000,202.259995,84.080002,557.809998,329.750000,456.529999,268.380005
2014,2022-12-30,129.929993,550.690002,239.820007,265.420013,123.180000,199.240005,83.599998,559.130005,326.179993,456.500000,266.839996

In [58]:
AAPL_df = pd.read_csv('collected_df.csv', index_col=0)
general_df  = pd.read_csv('top10_sp500_df.csv', index_col=0)
general_df  = general_df.drop(columns=['Close'])
general_df.reset_index(inplace=True)
AAPL_df = pd.merge(AAPL_df, general_df, on="Date")
AAPL_df

,Date,Close,Volume,Adj Close,^DJI_Close,^IXIC_Close,^GSPC_Close,^RLG_Close,^NYA_Close,^VIX_Close,...,TMO_Close,MSFT_Close,DHR_Close,TSLA_Close,LOW_Close,NEE_Close,AVGO_Close,LIN_Close,COST_Close,ACN_Close
0,2015-01-02,27.332500,212818400,24.565697,17832.990234,4726.810059,2058.199951,960.280029,10830.919922,17.790001,...,128.119995,46.759998,64.988625,14.620667,67.699997,26.672501,100.089996,129.949997,141.610001,88.839996
1,2015-01-05,26.562500,257142000,23.873644,17501.650391,4652.569824,2020.579956,943.780029,10607.679688,19.920000,...,126.360001,46.330002,64.344200,14.006000,66.080002,26.389999,98.489998,126.519997,140.000000,87.339996
2,2015-01-06,26.565001,263188400,23.875887,17371.640625,4592.740234,2002.609985,935.020020,10514.870117,21.120001,...,125.180000,45.650002,63.904472,14.085333,66.230003,26.492500,96.250000,124.900002,141.850006,86.709999
3,2015-01-07,26.937500,160423600,24.210682,17584.519531,4650.470215,2025.900024,946.880005,10627.129883,19.309999,...,128.929993,46.230000,64.291130,14.063333,68.199997,26.735001,98.849998,126.300003,144.320007,88.529999
4,2015-01-08,27.972500,237458000,25.140909,17907.869141,4736.189941,2062.139893,964.159973,10800.540039,17.010000,...,130.270004,47.590000,65.284309,14.041333,69.639999,26.897499,103.790001,128.380005,145.559998,89.879997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,2022-12-23,131.860001,63814900,131.658981,33203.929688,10497.860352,3844.820068,2165.620117,15188.450195,20.870001,...,540.679993,238.729996,259.859985,123.150002,201.880005,84.169998,552.429993,329.329987,462.649994,266.089996
2003,2022-12-27,130.029999,69007800,129.831772,33241.558594,10353.230469,3829.250000,2144.899902,15218.259766,21.650000,...,545.440002,236.960007,260.880005,109.099998,201.710007,84.000000,553.539978,328.950012,458.500000,265.309998
2004,2022-12-28,126.040001,85438400,125.847855,32875.710938,10213.290039,3783.219971,2117.199951,15037.320312,22.139999,...,543.409973,234.529999,259.339996,112.709999,200.059998,83.160004,544.890015,325.910004,452.989990,263.119995
2005,2022-12-29,129.610001,75703700,129.412415,33220.800781,10478.089844,3849.280029,2163.790039,15241.209961,21.440001,...,557.010010,241.009995,266.850006,121.820000,202.259995,84.080002,557.809998,329.750000,456.529999,268.380005
2006,2022-12-30,129.929993,77034200,129.731918,33147.250000,10466.480469,3839.500000,2158.189941,15184.309570,21.670000,...,550.690002,239.820007,265.420013,123.180000,199.240005,83.599998,559.130005,326.179993,456.500000,266.839996

In [59]:
AAPL_df.isnull().values.any()

False

In [60]:
AAPL_df.to_csv('AAPL_Data.csv')

In [52]:
# the_names = general_df.columns.tolist()[2:]
thelist = [item[:-6] for item in sortedList[1:11]]
print(the_names)

['ABBV_Close', 'ABT_Close', 'ACN_Close', 'ADBE_Close', 'AIG_Close', 'AMD_Close', 'AMGN_Close', 'AMT_Close', 'AMZN_Close', 'AVGO_Close']

In [54]:
thelist

['TMO', 'MSFT', 'DHR', 'TSLA', 'LOW', 'NEE', 'AVGO', 'LIN', 'COST', 'ACN']

In [53]:
sortedList

['AAPL_Close',
 'TMO_Close',
 'MSFT_Close',
 'DHR_Close',
 'TSLA_Close',
 'LOW_Close',
 'NEE_Close',
 'AVGO_Close',
 'LIN_Close',
 'COST_Close',
 'ACN_Close',
 'UPS_Close',
 'QCOM_Close',
 'NVDA_Close',
 'UNH_Close',
 'GOOGL_Close',
 'PG_Close',
 'GOOG_Close',
 'MS_Close',
 'AMD_Close',
 'UNP_Close',
 'ABT_Close',
 'TXN_Close',
 'HD_Close',
 'JNJ_Close',
 'TMUS_Close',
 'CVS_Close',
 'ABBV_Close',
 'TGT_Close',
 'BRK-B_Close',
 'MDLZ_Close',
 'SCHW_Close',
 'LLY_Close',
 'GS_Close',
 'WMT_Close',
 'PEP_Close',
 'BLK_Close',
 'MA_Close',
 'CAT_Close',
 'ORCL_Close',
 'MCD_Close',
 'EMR_Close',
 'V_Close',
 'BMY_Close',
 'NKE_Close',
 'F_Close',
 'AXP_Close',
 'KHC_Close',
 'MET_Close',
 'PFE_Close',
 'CL_Close',
 'PM_Close',
 'AMZN_Close',
 'DUK_Close',
 'ADBE_Close',
 'BAC_Close',
 'SO_Close',
 'HON_Close',
 'COF_Close',
 'KO_Close',
 'FDX_Close',
 'AMGN_Close',
 'GD_Close',
 'BKNG_Close',
 'AMT_Close',
 'CRM_Close',
 'JPM_Close',
 'DOW_Close',
 'EXC_Close',
 'GM_Close',
 'COP_Close',
 'SBUX_Close',
 'CHTR_Close',
 'META_Close',
 'BK_Close',
 'GE_Close',
 'CVX_Close',
 'LMT_Close',
 'AIG_Close',
 'PYPL_Close',
 'RTX_Close',
 'CMCSA_Close',
 'MRK_Close',
 'NFLX_Close',
 'XOM_Close',
 'MDT_Close',
 'CSCO_Close',
 'DIS_Close',
 'USB_Close',
 'IBM_Close',
 'WFC_Close',
 'MO_Close',
 'GILD_Close',
 'MMM_Close',
 'SPG_Close',
 'C_Close',
 'INTC_Close',
 'WBA_Close',
 'VZ_Close',
 'BA_Close',
 'T_Close']